.btn {
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-radius: 4px;
  padding: 0 16px;
  min-width: 64px;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #6200ee;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

.btn + .btn {
  margin-left: 7px;
}

.btn::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  padding: 50%;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: opacity 1s, -webkit-transform 0.5s;
  transition: opacity 1s, -webkit-transform 0.5s;
  transition: opacity 1s, transform 0.5s;
  transition: opacity 1s, transform 0.5s, -webkit-transform 0.5s;
}

.btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  padding: 50%;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: opacity 1s, -webkit-transform 0.5s;
  transition: opacity 1s, -webkit-transform 0.5s;
  transition: opacity 1s, transform 0.5s;
  transition: opacity 1s, transform 0.5s, -webkit-transform 0.5s;
}

.btn:hover, .btn:focus {
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.btn:hover::before {
  opacity: 0.08;
}

.btn:hover:focus::before {
  opacity: 0.3;
}

.btn:focus::before {
  opacity: 0.24;
}

.btn:active {
  -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.btn:active::after {
  opacity: 0.32;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: -webkit-transform 0s;
  transition: -webkit-transform 0s;
  transition: transform 0s;
  transition: transform 0s, -webkit-transform 0s;
}

.btn:disabled {
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: initial;
}

.btn:disabled::before, .btn:disabled::after {
  opacity: 0;
}

.btn-primary {
  background-color: #6200ee;
  border-color: #6200ee;
}

.btn-secondary {
  background-color: #353042 !important;
  border-color: #353042 !important;
}

.btn-success {
  background-color: #178c66;
  border-color: #178c66;
}

.btn-danger {
  background-color: rgba(237, 21, 21, 0.62);
  border-color: rgba(237, 21, 21, 0.62);
}

.btn-outline-theme {
  background-color: transparent;
  border: 1px solid #353279;
  color: #353279;
}

.input_control {
  margin-bottom: 60px;
}

.input_control .input_slot {
  border-width: 1px;
  border-color: #8f8f8f;
  border-style: solid;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  min-height: 55px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.input_control .input_slot.is-focused {
  border-color: #6200ee;
  border-width: 1px;
}

.input_control .input_slot .text-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}

.input_control .input_slot .text-field label {
  position: absolute;
  top: 32%;
  left: 12px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
}

.input_control .input_slot .text-field label.is-focused {
  color: #6200ee;
}

.input_control .input_slot .text-field label.is-focused, .input_control .input_slot .text-field label.is-active {
  -webkit-transform: translateY(-28px);
          transform: translateY(-28px);
  background-color: white;
  padding: 0 5px;
  font-size: 65%;
  left: 7px;
}

.input_control .input_slot .text-field input {
  line-height: 20px;
  padding: 8px 10px;
  max-width: 100%;
  min-width: 0;
  width: 100%;
  border: none;
  border-radius: 4px;
}

.input_control .input_slot .text-field input:focus {
  outline: none;
  border: none;
}

.input_control .input_slot.is-outline .text-field label {
  position: absolute;
  top: 32%;
  left: 10px;
  -webkit-transform: translateY(-28px);
          transform: translateY(-28px);
  background-color: white;
  padding: 0 5px;
  font-size: 65%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
}

.input_control.regular .input_slot {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom-width: 1px;
  border-color: #8f8f8f;
  border-style: solid;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  min-height: 35px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.input_control.regular .input_slot.is-focused, .input_control.regular .input_slot.is-outline {
  border-color: #6200ee;
}

.input_control.regular .input_slot .text-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}

.input_control.regular .input_slot .text-field label {
  position: absolute;
  top: 32%;
  left: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
}

.input_control.regular .input_slot .text-field label.is-focused {
  color: #6200ee;
}

.input_control.regular .input_slot .text-field label.is-focused, .input_control.regular .input_slot .text-field label.is-active {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  background-color: white;
  padding: 0;
  font-size: 65%;
  left: 0;
}

.input_control.regular .input_slot .text-field input {
  line-height: 20px;
  padding: 8px 0;
  max-width: 100%;
  min-width: 0;
  width: 100%;
  border: none;
  border-radius: 4px;
}

.input_control.regular .input_slot .text-field input:focus {
  outline: none;
  border: none;
}

.custom-control {
  position: relative;
  display: block;
  margin-bottom: 5px;
}

.custom-control-label {
  color: #353535;
  font-size: 22px;
  position: relative;
  vertical-align: top;
}

.custom-control-label:before, .custom-control-label:after {
  content: "";
  position: absolute;
  top: .25rem;
  left: -1.5rem;
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  border: 2px solid #8f8f8f;
  pointer-events: none;
  border-radius: 50%;
}

.custom-control-input {
  opacity: 0;
}

.custom-control-input:checked ~ .custom-control-label:before, .custom-control-input:checked ~ .custom-control-label:after {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border: none;
}

.custom-control-input:checked ~ .custom-control-label::after {
  background-color: #ffffff;
  border: 5px solid #353279;
}

.card__wrapper {
  -webkit-box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  max-width: 300px;
  min-width: 300px;
  min-height: 200px;
  border-radius: 4px;
  overflow: hidden;
  display: inline-block;
  margin-right: 20px;
}

.card__title {
  color: #000000;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: .0125em;
  text-decoration: inherit;
  text-transform: inherit;
}

.card__sub-title {
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: .0178571429em;
  text-decoration: inherit;
  text-transform: inherit;
  opacity: .9;
}

.selectbox {
  position: relative;
}

.selectbox__menu {
  display: none;
  position: absolute;
  min-width: 112px;
}

.selectbox__menu.is-active {
  display: inline-block;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  top: 56px;
  left: 0;
  max-height: 115px;
}

.selectbox .width-select {
  width: 250px;
}

.selectbox .width-select--auto {
  width: 100%;
}

.selectbox__wrap {
  cursor: pointer;
  background-color: rgba(216, 216, 216, 0.2);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
  display: -ms-inline-flexbox;
  display: -webkit-inline-box;
  display: inline-flex;
  width: 100%;
  height: 56px;
  max-width: 250px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  will-chamhe: opacity,transform,color;
}

.selectbox__selected-text {
  padding: 20px 52px 4px 16px;
  font-size: 1rem;
  line-height: 1.72rem;
  font-weight: 400;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 56px;
  min-width: 200px;
  border: none;
  border-bottom: 1px solid #d8d8d8;
  outline: none;
  background-color: transparent;
}

.selectbox__selected-text:hover {
  border-bottom: 2px solid #6200ee;
}

.selectbox__icon-dropdown {
  position: absolute;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='5' viewBox='7 10 10 5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' opacity='.54' d='M7 10l5 5 5-5z'/%3E%3C/svg%3E") no-repeat 50%;
  left: auto;
  right: 8px;
  bottom: 16px;
  height: 24px;
  width: 24px;
  pointer-events: none;
}

.selectbox .floating-label {
  left: 16px;
  right: auto;
  top: 21px;
  pointer-events: none;
}

.selectbox .floating-label.is-focused {
  color: #6200ee;
}

.menu-surface {
  display: none;
  position: absolute;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 240px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  opacity: 0;
  overflow: auto;
  will-change: transform,opacity;
  z-index: 8;
  transition: opacity 0.03s linear, transform 0.12s cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.12s cubic-bezier(0, 0, 0.2, 1);
  -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.menu-surface--open {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.floating-label {
  font-weight: 400;
  letter-spacing: .009375em;
  position: absolute;
  left: 0;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  line-height: 1.15rem;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: text;
  overflow: hidden;
  will-change: transform;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
}

.floating-label.is-focused, .floating-label.is-active {
  -webkit-transform: translateY(-70%) scale(0.75);
  transform: translateY(-70%) scale(0.75);
  color: #6200ee;
  font-size: 1rem;
}

.checkbox {
  position: relative;
  margin-right: 17px;
  cursor: pointer;
}

.checkbox__control {
  opacity: 0;
  cursor: inherit;
}

.checkbox__checkmark {
  color: #ffffff;
  position: absolute;
  top: -3px;
  right: 1px;
  bottom: 0;
  left: -3px;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 180ms 0ms cubic-bezier(0.4, 0, 0.6, 1);
  transition: opacity 180ms 0ms cubic-bezier(0.4, 0, 0.6, 1);
}

.checkbox__bg {
  background-color: transparent;
  border-color: #8f8f8f;
  width: 18px;
  height: 18px;
  top: 2px;
  left: 2px;
  border-width: 2px;
  border-color: #8f8f8f;
  border-style: solid;
  border-radius: 2px;
  pointer-events: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.checkbox__ripple {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.checkbox.checked .checkbox__bg {
  background-color: #6200ee;
  border-color: #6200ee;
}

.checkbox.checked .checkbox__checkmark {
  color: #ffffff;
  fill: #ffffff !important;
  opacity: 1;
  width: 20px;
}

.checkbox.checked .checkbox__ripple {
  background: #afafaf;
  opacity: 0.2;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  top: -50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  bottom: auto;
}

h1, h2, h3, h4, h5 {
  color: #000000;
}

label {
  height: 20px;
  line-height: 20px;
  font-size: 16px;
}

input {
  font-size: 16px;
  max-height: 32px;
  border-radius: 5px;
}

.d-inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
}

.img__wrap {
  min-width: 150px;
  min-height: 200px;
  background-color: #8f8f8f;
  padding: 0;
  margin: 0;
}

.p-2 {
  padding: 15px;
}

.p-3 {
  padding: 30px;
}

.m-r-2 {
  margin-right: 10px;
}

.m-r-3 {
  margin-right: 20px;
}

.m-r-5 {
  margin-right: 40px;
}

.m-b-5 {
  margin-bottom: 40px;
}

.bg-white {
  background-color: white;
}

.bg-light {
  background-color: rgba(143, 143, 143, 0.1);
}

.list-style-wrap {
  padding: 8px 0;
}

.list-style-wrap li {
  list-style: none;
  margin-bottom: 0;
}

.list-style-none {
  padding-left: 0;
}

.list-style-none li {
  list-style: none;
  margin-bottom: 10px;
}

.list-item {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  padding: 0 16px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1rem;
}

.list-item:hover {
  background-color: whitesmoke;
}

.selected-item {
  background-color: rgba(98, 0, 238, 0.1);
}

.col-d-2 {
  max-width: 16.666667%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
}

.col-d-3 {
  max-width: 25%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
}

.col-d-4 {
  max-width: 33.333333%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
}

.col-d-5 {
  max-width: 41.666667%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
}

.col-d-6 {
  max-width: 50%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.col-d-12 {
  max-width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}

body {
  color: #8f8f8f;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
/*# sourceMappingURL=main.css.map */