@import 'utils/keyframes.sass'
@import 'components/buttons.sass'
@import 'components/textFields.sass'
@import 'components/radio.sass'
@import 'components/card.sass'
@import 'components/select.sass'
@import 'components/dropdownMenu.sass'
@import 'utils/floating.sass'
@import 'components/checkbox.sass'
@import 'utils/normalize.sass'
@import 'layout/grid.sass'

// @import 'https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css'


body
    color: $color-grey
    font-size: 20px
    // background-color: rgba($color-light-grey, 0.5)
    // font-family: 'Poppins', sans-serif
    font-family: 'Roboto', sans-serif

