@import '../utils/variables'

// headline
h1,h2,h3,h4,h5
    color: $color-black
label
    height: 20px
    line-height: 20px
    font-size: 16px

input
    font-size: 16px
    max-height: 32px
    border-radius: 5px

.d
    &-inline
        &-flex
            display: inline-flex
            align-items: center
            vertical-align: middle

.img
    &__wrap
        min-width: 150px
        min-height: 200px
        background-color: $color-grey
        padding: 0
        margin: 0

// margin/padding
.p
    &-2
        padding: 15px

.m
    &-r
        &-2
            margin-right: 10px
        &-3
            margin-right: 20px
        &-5
            margin-right: 40px